h1, h2 {
  font-family: "Oswald", sans-serif;
}

li {
  font-family: "EB Garamond", serif;
}

table, th, td {
  border: 1px solid;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}
