/* calistoga-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Calistoga';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/calistoga-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ancizar-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Ancizar Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/ancizar-sans-v8-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*Fluid Type Scale*/
html {font-size: 16px;}

body {
  font-family: 'Calistoga', sans-serif;
  font-weight: false;
  line-height: 1.65;
}

p {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Calistoga', sans-serif;
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: 'Calistoga', sans-serif;
  font-weight: 700;
  margin-top: 0;
  font-size: 4.21em;
}

h2,
.text-size-h2 { font-size: 3.16em; }

h3,
.text-size-h3 { font-size: 2.37em; }

h4,
.text-size-h4 { font-size: 1.78em; }

h5,
.text-size-h5 { font-size: 1.33em; }

.text-caption { font-size: 0.75em; }

small,
.text-small {
  font-size: 0.56em;
}
/*Fluid Type Scale end*/

body {
  background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='200' height='200' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgba(68, 51, 122,1)'/%3E%3Cpath d='M0 29.5a 9.5-9.5 0 0 0 9.5-9.5a 10.5-10.5 0 0 1 10.5-10.5a 10.5 10.5 0 0 1 10.5 10.5h-1a-9.5-9.5 0 0 0-9.5-9.5a-9.5 9.5 0 0 0-9.5 9.5a-10.5 10.5 0 0 1-10.5 10.5a-10.5-10.5 0 0 1-10.5-10.5h1a 9.5 9.5 0 0 0 9.5 9.5z' fill='rgba(183, 148, 244,1)'/%3E%3Cpath d='M0 9a 11 11 0 0 1 11 11a 9 9 0 0 0 9 9a 9-9 0 0 0 9-9a 11-11 0 0 1 11-11a 11 11 0 0 1 11 11a 9 9 0 0 0 9 9v2a-11-11 0 0 1-11-11a-9-9 0 0 0-9-9a-9 9 0 0 0-9 9a-11 11 0 0 1-11 11a-11-11 0 0 1-11-11a-9-9 0 0 0-9-9a-9 9 0 0 0-9 9h-2a 11-11 0 0 1 11-11z' fill='rgba(107, 70, 193,1)'/%3E%3Cpath d='M20 9.5a 10.5 10.5 0 0 1 10.5 10.5a 9.5 9.5 0 0 0 9.5 9.5v1a-10.5-10.5 0 0 1-10.5-10.5a-9.5-9.5 0 0 0-9.5-9.5zM-20 9.5a 10.5 10.5 0 0 1 10.5 10.5a 9.5 9.5 0 0 0 9.5 9.5v1a-10.5-10.5 0 0 1-10.5-10.5a-9.5-9.5 0 0 0-9.5-9.5z' fill='rgba(183, 148, 244,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1, h3 {
  color: rgb(68, 0, 124);
}

h1 {
  padding-top: 30px;
}

p {
  font-family: 'Ancizar Sans';
  color: rgb(84, 0, 153);
}

img {
  width: 250px;
}

.container {
  display: grid;
  grid: repeat(3, 1fr)/repeat(4, 1fr);
}

.item {
  border: 10px solid rgb(84, 0, 153); 
  background-color: rgb(226, 206, 241);
  border-radius: 10px;
  margin: 15px; 
  padding: 5px 10px; 
  box-shadow: 5px 5px 10px rgba(0,0,0,.5);
}

.item p {
  line-height: 120%;
  margin: auto;
  width: 300px;
}

.title {
  height: 75px;
  align-content: center;
}

.summary {
  font-size: 1.5em;
  line-height: 100%;
  text-align: center;
  margin: auto;
  padding: 0 20px 20px 20px;
}

.header {
  border: 10px solid rgb(84, 0, 153); 
  background-color: rgb(226, 206, 241);
  border-radius: 10px;
  margin: auto; 
  padding: 5px 10px; 
  box-shadow: 5px 5px 10px rgba(0,0,0,.5);
  width: 50%;
}